body {
    background-color: #f9f9f9;
}

body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

h1{
    color: #d35400;
}

section {
    margin-bottom: 20px;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

ol {
    list-style-type: decimal;
    padding-left: 20px;
}

dt {
    font-weight: bold;
    color: #2c3e50;
}

dd {
    margin-bottom: 10px;
}

table {
    width: 100;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
}

thead{
    background-color: #ecf0f1;
}

td {
    padding: 8px;
    text-align: center;
}